option_settings:
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: '8080'
    SPRING_PROFILES_ACTIVE: 'elb'
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xms: 512m
    Xmx: 1024m
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: npm start
    ProxyServer: nginx