option_settings:
  # 애플리케이션 환경 변수
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: '8080'
    SPRING_PROFILES_ACTIVE: 'elb'
  
  # 환경 타입 설정
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
  
  # 인스턴스 설정
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2.micro
  
  # CloudWatch 로그 설정
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 7
