packages:
  yum:
    docker: []

commands:
  01_docker_compose_install:
    command: |
      curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
      chmod +x /usr/local/bin/docker-compose

container_commands:
  01_start_docker:
    command: service docker start

  02_start_app:
    command: docker-compose up -d