commands:
  01_docker_compose_install:
    test: "[ ! -f /usr/local/bin/docker-compose ]"
    command: |
      curl -L https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
      chmod +x /usr/local/bin/docker-compose

container_commands:
  01_create_env_file:
    command: |
      # 환경 변수를 .env 파일로 생성
      cd /var/app/current
      cat > .env << EOL
      SPRING_PROFILES_ACTIVE=$SPRING_PROFILES_ACTIVE
      DEV_REDIS_HOST=redis
      DEV_DB_USERNAME=$DEV_DB_USERNAME
      DEV_DB_PASSWORD=$DEV_DB_PASSWORD
      DB_HOST=$DEV_DB_HOST
      DB_USERNAME=$DEV_DB_USERNAME
      DB_PASSWORD=$DEV_DB_PASSWORD
      AWS_ACCESS_KEY=$AWS_ACCESS_KEY
      AWS_SECRET_KEY=$AWS_SECRET_KEY
      AWS_S3_BUCKET=$AWS_S3_BUCKET
      JWT_SECRET=$JWT_SECRET
      MAIL_USERNAME=$MAIL_USERNAME
      MAIL_PASSWORD=$MAIL_PASSWORD
      EOL

  02_start_app:
    command: |
      cd /var/app/current
      docker-compose down
      docker-compose up -d